[Oo]bj/
*.suo
*.user
/TestResults
*.vspscc
*.vssscc
*.scc
/Properties/PublishProfiles/
/packages/
!packages/repositories.config
.vs

TestCI/bower_components
TestCI/bundleconfig.json
TestCI/tmp
TestCI/node_modules
TestCI/Scripts/lib
!TestCI/Scripts/lib/.gitignore

TestCI/Bin/
TestCI/Bin/Microsoft.ReportViewer.WebForms.dll

TestCI.Test/Bin/
TestCI/Config/*.config
